{% extends 'base.html.twig' %}

 {% block navbar %} <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #CAA0F8;">
        <h1>NOUVELLE MATIERE</h1>
        </nav> 
{% endblock %}


{% block body %}
    

    {{ include('matiere/_form.html.twig') }}

    <a href="{{ path('matiere_index') }}">back to list</a>
{% endblock %}
