{% extends 'base.html.twig' %}

{% block title %}<h1>Formulaire d'Inscription</h1>{% endblock %}
{% block stylesheets %}
        <link href="/CSS/maths.css" type="text/css" rel="stylesheet" />
   {% endblock %}

{% block body %}
    
   

    {{ include('post/_form.html.twig') }}


    <a href="{{ path('loged') }}">back to list</a>
{% endblock %}
