{% extends 'base.html.twig' %}

{% block title %}
	<h1> La Banque à Exos </h1>
{% endblock %}



{% block log %}
	<a class="btn" style="background-color: #DDA0DD;" href="register">S'inscrire</a>
	<a class="btn" style="background-color: #DDA0DD;" href="login">Se connecter</a>
{% endblock %}

{% block body %}
	<br>
	<p class="container">
		Site réservé aux élèves de Marie-Dominique JEAN.
		Marie-Dominique JEAN, en tant qu'administrateur du site se réserve le droit de supprimer un compte qui ne correspondrait pas à un de ses élèves.
		L'utilisateur n'est pas autorisé être copier, vendre ou distribuer le contenu de ce site.
	</p>
{% endblock %}

{% block footer %}{% endblock %}