{% extends 'base.html.twig' %}

{% block title %}
	<h1> La Banque à Exos </h1>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block log %}
    <a class="btn btn-primary" href="register">S'inscrire</a>
    <a class="btn btn-primary" href="login">Se connecter</a>
{% endblock %}

{% block body %}
	<br>
	<p>Bienvenue sur mon site de cours, vous pouvez vous enregistrer en entrant votre adresse e-mail et ainsi accéder au cours triés par classe et par matière.
	</p>
{% endblock %}