{% extends 'base.html.twig' %}


	 {% block navbar %} <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #CAA0F8;">
        <h1>NOUVELLE CLASSE</h1>
        </nav> 
{% endblock %}


{% block body %}
   

    {{ include('classe/_form.html.twig') }}

    <a href="{{ path('classe_index') }}">back to list</a>
{% endblock %}
