{% extends 'base.html.twig' %}

 {% block navbar %} <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #CAA0F8;">
        <h1>NEW USER</h1>
        </nav> 
{% endblock %}


{% block body %}
   

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">back to list</a>
{% endblock %}
